@charset "utf-8";
*,
::before,
::after {
    margin: 0;
    padding: 0;
}
/*Clear both float*/
.clb{clear:both;}

/*Initialization*/
body {
    font-family: Microsoft Yahei;
    font-size: 12px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}


.container {
    width: 1024px;
    margin: 0 auto;
}

.header {
    width: 100%;
    height: 150px;
}

.logo {
    width: 100%;
    height: 108px;
    background-image: url('../images/gs_logo_01.jpg');
    background-position: center center;
    background-repeat: no-repeat;
}

.navbar {
    background-color: #003366;
    height: 30px;
    line-height: 30px;
}

.navbar ul {
    padding-left: 6px;
    font-size: 16px;
}

.navbar ul li {
    float: left;
    padding-right: 14px;
    padding-left: 14px;
    position: relative;
}

.navbar ul li a {
    color: #fff;
    display: block;
    width: 100%;
}

.navbar ul li:hover {
    background-color: red;
	
}

.navbar ul li ul {
	background-color: #006699;
	position: absolute;
	left: 0;
	top: 30px;
	z-index: 999;
	padding-left: 0;
	font-size: 14px;
	display:none
}
.navbar ul li ul.dropdown-menu{
	display: none;
	}
.navbar ul li ul li {
    padding: 0;
    width: 100%;
    text-align: center;
}

.news {
	width: 95%;
	border: 1px solid #666666;
	padding: 5px;
	margin-bottom: 10px;
}

.news_title {
    margin-bottom: 5px;
}

.news_title h2 {
	float: none;
	font-size: 16px;
	color: #006699;
	width: 100%;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #666;
	padding-bottom: 5px;
}

.news_title h2 span {
    color: #666666;
}

.news_title h2 a {
    font-size: 14px;
    display: block;
    float: right;
}

.news_list {
    padding-top: 10px;
}

.news_list ul li {
    height: 20px;
    line-height: 20px;
}

.news_list ul li a {
    display: block;
    float: left;
}

.news_list ul li span {
    display: block;
    float: right;
}

.line {
    height: 2px;
    background-color: #666666;
    width: 100%;
    clear: both;
}

.slide {
	width: 100%;
	border: 0px solid #666666;
	height: 235px;
	margin-bottom: 10px;
	overflow: hidden;
	position: relative;

}
.slide ul li img{
	width:100%;
	border-radius:5px;}

.f .active {
    background-color: red;
}

.nav>li>a:hover,
.nav>li>a:focus {
    background-color: #F00;
}

.nav .open>a,
.nav .open>a:hover,
.nav .open>a:focus {
    background-color: #f00;
}

.dropdown-menu {
    background-color: #006699;
}
.footer .favlink{
	height: 46px;
	background-image: url(../images/favlink.png);
	background-repeat: no-repeat;
	background-color: #CCD6EB;
	background-position: 10px;
	line-height: 46px;
	font-size: 14px;
	}
.footer .copyright{
	text-align: center;
	height: 50px;
	background-color: #CCC;
	color: #333;
	font-size: 12px;
}
.footer .copyright p{
	line-height:25px;
	}
.footer .container .favlink ul {
	margin-left: 60px;
}
.footer .container .favlink ul li {
	float: left;
	margin-left: 20px;
}
.footer .container .favlink ul li a {
	color: #666;
}
.footer .container .favlink ul li a:hover {
	color: #000;
	font-weight: bold;
}
.content .container #leftContent {
	width: 424px;
	float: left;
}
.content .container #rightContent {
	float: right;
	width: 600px;
}
.content .container #rightContent #rc_Academic {
	float: left;
	width: 350px;
}
.content .container #rightContent #rc_Feature {
	float: left;
	width: 250px;
}
.content .container #rightContent .slide .dot {
	height: 3px;
	position: absolute;
	right: 15px;
	bottom: 20px;
}
.content .container #rightContent .slide .dot li {
	background-color: #CCC;
	display: inline-block;
	height: 5px;
	width: 8px;
	border-radius:2px;
}
